@tailwind base;

::-webkit-scrollbar {
  width: 6px;
  height:6px;
}
::-webkit-scrollbar-thumb {
  background-color: #78909c; 
  border-radius: 20px;
}
/* CSS */
@media print {
  .card {
    page-break-inside: avoid;
  }
  .print-page {
    page-break-before: auto;
  }
  .certificate {
    page-break-before: always;
    margin:0;
  }
 

}




@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("./assets/font/Nunito-VariableFont_wght.ttf");
}


@font-face {
  font-family: "AnandaBlackPersonalUseRegular";
  src: url("./assets/font/AnandaBlackPersonalUseRegular-rg9Rx.ttf");
}
@font-face {
  font-family: "AspireDemibold";
  src: url("./assets/font/AspireDemibold-YaaO.ttf");
}
@font-face {
  font-family: "AutumnFlowers";
  src: url("./assets/font/AutumnFlowers-9YVZK.otf");
}
@font-face {
  font-family: "Calligrapher";
  src: url("./assets/font/Calligrapher-JRxaE.ttf");
}
@font-face {
  font-family: "ChicanosPersonalUseRegular";
  src: url("./assets/font/ChicanosPersonalUseRegular-qZDw5.ttf");
}
@font-face {
  font-family: "DoveOfPeacePersonalUse";
  src: url("./assets/font/DoveOfPeacePersonalUse-RpEpv.ttf");
}
@font-face {
  font-family: "EmotionalRescuePersonalUseRegular";
  src: url("./assets/font/EmotionalRescuePersonalUseRegular-PKY87.ttf");
}
@font-face {
  font-family: "FeelfreePersonalUseRegular";
  src: url("./assets/font/FeelfreePersonalUseRegular-lg2Bw.ttf");
}
@font-face {
  font-family: "GeraldinePersonalUseItalic";
  src: url("./assets/font/GeraldinePersonalUseItalic-PK12m.ttf");
}
@font-face {
  font-family: "IndentureEnglishPenmanDemo";
  src: url("./assets/font/IndentureEnglishPenmanDemo-Xdyj.ttf");
}
@font-face {
  font-family: "LambencyRegular";
  src: url("./assets/font/LambencyRegular-eZLZe.ttf");
}
@font-face {
  font-family: "MutalisFashionPersonalUseRegular";
  src: url("./assets/font/MutalisFashionPersonalUseRegular-w1p7P.otf");
}
@font-face {
  font-family: "NatureBeautyPersonalUse";
  src: url("./assets/font/NatureBeautyPersonalUse-9Y2DK.ttf");
}
@font-face {
  font-family: "SellenaBrush";
  src: url("./assets/font/SellenaBrush-x3JyK.ttf");
}
@font-face {
  font-family: "StylishCalligraphyDemo";
  src: url("./assets/font/StylishCalligraphyDemo-XPZZ.ttf");
}
@font-face {
  font-family: "SweetHipster";
  src: url("./assets/font/SweetHipster-PzlE.ttf");
}
@font-face {
  font-family: "SweetHipster";
  src: url("./assets/font/TheCheese-1GKEM.ttf");
}
@font-face {
  font-family: "WeddingdayPersonalUseRegular";
  src: url("./assets/font/WeddingdayPersonalUseRegular-1Gvo0.ttf");
}




