@tailwind base;

::-webkit-scrollbar {
  width: 6px;
  height:6px;
}
::-webkit-scrollbar-thumb {
  background-color: #78909c; 
  border-radius: 20px;
}
/* CSS */
@media print {
  .card {
    page-break-inside: avoid;
  }
  .print-page {
    page-break-before: auto;
  }
  .certificate {
    page-break-before: always;
    margin:0;
  }
 

}




@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("./assets/font/Nunito-VariableFont_wght.ttf");
}




